html, body {
    padding: 0;
    font-family: sans-serif;

    margin: 0;
}

img {
    object-fit: cover;
    object-position: center; /* откуда обрезать */
    /* размер картинки*/
    min-width: 100%;
    height: 100%;
}

.blockimage {
    display: flex;
    flex-wrap: wrap; /* перенос вкл */
}

.arr {
    /*размеров блоков*/
    flex: 1 0 25%;
    height: 45vh;
    overflow: hidden; /* обрезка*/
    box-sizing: border-box;
}


.navMenu {
    text-decoration: none;
    color: #595959;
    display: inline-block;
    padding: 10px 20px;

    border-bottom: 2px solid black;
}

.menu {
    list-style-type: none;
    padding-left: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 10px;
    display: inline;
}

.control {
    text-decoration: none;
    color: #595959;
}

.img {
    max-width: 100%;
    height: auto;
}